#basic
alias ls='ls --color=auto --time-style="+%d/%m/%y %H:%M"'
alias clr='clear'
alias dt='date "+%H:%M:%S %d.%m.%y"'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
alias igrep='grep -i --color=auto'
alias grp='grep'
alias diff='colordiff'
alias cl='tr -s " " | cut -d " " -f $1'
alias ll='ls -alh'
alias ltr='ls -lhatr'
alias src='source'
alias db='dropbox'
alias .='source'
alias la='ls -lA'
alias l='ls -l'
alias vi='vim'
alias md='mkdir'
alias sudo='sudo '
alias pls='pls'
alias p='sudo'
alias sim='sudo vim'
alias sus='sudo -s'
alias sui='sudo -i'
alias rut='sui'
alias more='less'
alias rm='rm -v'
alias cp='cp -v'
alias mv='mv -v'
alias ..='cd ..'
alias sl='ls'
alias top='htop'
alias genpasswd="strings /dev/urandom | grep -o '[[:alnum:]]' | head -n 30 | tr -d '\n'; echo" 

#backup
alias backuptostick='sudo rsync -avxHAX --progress --exclude 't37LTS' Projects /mnt/stick'
alias backupfromstick='sudo rsync -avxHAX --progress --exclude 't37LTS' /mnt/stick/Projects /home/avarx/Projects '

#lock
alias lock='~/.config/awesome/locker.sh'

#sublime
alias subl='subl3'

#cd
alias gotohl='cd ~/Projects/Hacking/HL'

# xrandr
alias xr='xrandr'
alias xr-home='xrandr --output DP1 --right-of eDP1 --auto'

#web
alias webroot='cd /srv/http'
alias startwebserver='systemctl start httpd.service'
alias stopwebserver='systemctl stop httpd.service'

################
#WINE

#RE
alias IDA='wine /home/avarx/.wine/drive_c/Program\ Files\ \(x86\)/IDA\ 6.8/idaq.exe'
alias IDA64='wine /home/avarx/.wine/drive_c/Program\ Files\ \(x86\)/IDA\ 6.8/idaq64.exe'


#functions

extract() { 
    if [ -f $1 ] ; then 
      case $1 in 
        *.tar.bz2)   tar xjf $1     ;; 
        *.tar.gz)    tar xzf $1     ;; 
        *.bz2)       bunzip2 $1     ;; 
        *.rar)       unrar e $1     ;; 
        *.gz)        gunzip $1      ;; 
        *.tar)       tar xf $1      ;; 
        *.tbz2)      tar xjf $1     ;; 
        *.tgz)       tar xzf $1     ;; 
        *.zip)       unzip $1       ;; 
        *.Z)         uncompress $1  ;; 
        *.7z)        7z x $1        ;; 
        *)     echo "'$1' cannot be extracted via extract()" ;; 
         esac 
     else 
         echo "'$1' is not a valid file" 
     fi 
}
