#include "/home/avarx/.colors/avarx_blue"

! #########################################
urxvt*perl-lib:			/usr/lib/urxvt/perl
urxvt*perl-ext-common:		default,matcher,clipboard
urxvt*perl-matcher: 		1
urxvt*matcher-button: 		3
urxvt*url-launcher:		/usr/bin/firefox
!URxvt*matcher.button: 1
!URxvt*matcher.pattern.1: \\bwww\\.[\\w-]\\.[\\w./?&@#-]*[\\w/-]
urxvt*cursorUnderline: 1
urxvt*letterspace: -5
!urxvt*fading: 			10
!urxvt*fadeColor: 		#000000
urxvt*cursorBlink:		true
urxvt*scrollBar:		false
urxvt*depth:			32
urxvt*internalBorder: 		5
urxvt*dynamicColors: on
urxvt.urgentOnBell:  true

URxvt*font:                                     xft:terminus:hinting=true:pixelsize=12:antialias=false
URxvt*boldFont:                                 xft:terminus:style=bold:hinting=true:pixelsize=12:antialias=false
URxvt*italicFont:                               xft:terminus:style=italic:hinting=true:pixelsize=12:antialias=false
URxvt*boldItalicFont:                           xft:terminus:style=bolditalic:hinting=true:pixelsize=12:antialias=false

Xft.antialias: 1
Xft.autohint: 0
Xft.dpi: 96
Xft.hinting: 1
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
Xft.rgba: rgb

xclock*majorColor: #9a875f
xclock*minorColor: #9a875f
xclock*minuteColor: #9a875f
xclock*hourColor: #9a875f
xclock*secondColor: #9a875f